<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - FCC: Tribute Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://use.fontawesome.com/3049adcafe.js"></script><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'><link rel="stylesheet" href="../static/style.css">

</head>
<body>

  


<!-- partial:index.partial.html -->
<div class="container-fluid parallax bg-img1">
  <div class="navbar">
    <ul class="nav-list">
      <li><a href=".">主页</a></li>
      <li><a href="/search">发现</a></li>
    </ul>
  </div>
  
  <div class="heading text-center">
    <h2>The Films of</h2>
    <h1 class="text-uppercase">Hayao Miyazaki</h1>
  </div>
</div>

<div class="container-fluid py-5 bg-faded" id="hm">
  <div class="container">
    <div class="row py-3 pt-1">
      <div class="col-sm-12">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Hayao_Miyazaki_cropped_1_Hayao_Miyazaki_201211.jpg/800px-Hayao_Miyazaki_cropped_1_Hayao_Miyazaki_201211.jpg" class="img-fluid rounded-circle mx-auto d-block" style="max-width: 350px" alt="Hayao Miyazaki">
      </div>
    </div>
    <div class="row py-3">
      <p class="text-center lead">Hayao Miyazaki (宮崎駿, born January 5, 1941) is a Japanese film director, producer, screenwriter, animator, author, manga artist, and co-founder of Studio Ghibli.</p>
    </div>
    <div class="row py-3 pb-1">
      <div class="col-sm-12">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Studio_Ghibli_logo.svg/1200px-Studio_Ghibli_logo.svg.png" class="img-fluid mx-auto d-block" style="max-width: 350px" alt="Studio Ghibli logo">
      </div>
    </div>
  </div>
</div>  

<div class="container-fluid parallax bg-img2">
  <div class="middle">
    <div class="container" style="max-width: 550px">
      <blockquote class="text-center">
        <i class="fa fa-quote-left fa-3x fa-pull-left" aria-hidden="true"></i>
        <p class="mb-1 lead">Many of my movies have strong female leads—brave, self-sufficient girls that don’t think twice about fighting for what they believe in with all their heart. They’ll need a friend, or a supporter, but never a saviour.</p>
        <footer class="blockquote-footer text-uppercase text-white">Hayao Miyazaki</footer>
      </blockquote>
    </div>
  </div>
</div>


<!-- FILM CARDS -->
<div class="container pb-3 pt-5">
  <!-- ROW 1 -->
  <!-- <div class="card-deck">
    <div class="card">
      <img class="card-img-top img-fluid" src="https://www.themoviedb.org/t/p/original/tcrkfB8SRPQCgwI88hQScua6nxh.jpg" alt="Nausicaä of the Valley of the Wind (1984)">
      <div class="card-block">
        <h4 class="card-title">Nausicaä of the Valley of the Wind <small class="text-muted">(1984)</small></h4>
        <p class="card-text">Taking place in a post-apocalyptic world in the far future, the film tells the story of Nausicaä, the young princess of the Valley of the Wind. She becomes embroiled in a struggle with Tolmekia, a kingdom that tries to use an ancient weapon to eradicate a jungle of mutant giant insects, and attempts to stop the Tolmekians from enraging these creatures. (From <a href="https://en.wikipedia.org/wiki/Nausicaä_of_the_Valley_of_the_Wind_(film)" target="_blank" class="card-link"><cite>Wikipedia</cite></a>)</p>
      </div>
      <div class="card-footer">
        <a href="https://www.themoviedb.org/movie/81" target="_blank" class="card-link">The Movie DB</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/npOnzAbLh6VOIu3naU5QaEcTepo.jpg" alt="Castle in the Sky (1986)">
      <div class="card-block">
        <h4 class="card-title">Castle in the Sky <small class="text-muted">(1986)</small></h4>
        <p class="card-text"><cite>Castle in the Sky</cite> follows the adventures of a young boy and girl attempting to keep a magic crystal from a group of military agents and pirates, while searching for a legendary floating castle. (From <a href="https://en.wikipedia.org/wiki/Castle_in_the_Sky" target="_blank" class="card-link"><cite>Wikipedia</cite></a>)</p>
      </div>
      <div class="card-footer">
        <a href="https://www.themoviedb.org/movie/10515" target="_blank" class="card-link">The Movie DB</a>
      </div>
    </div>
  </div> -->

  <!-- ROW 2 -->
  <!-- <div class="card-deck">
    <div class="card">
      <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/original/rtGDOeG9LzoerkDGZF9dnVeLppL.jpg" alt="My Neighbor Totoro (1988)">
      <div class="card-block">
        <h4 class="card-title">My Neighbor Totoro <small class="text-muted">(1988)</small></h4>
        <p class="card-text"><cite>My Neighbor Totoro</cite> tells the story of the two young girls, Satsuki and Mei, and their interactions with friendly wood spirits in postwar rural Japan. (From <a href="https://en.wikipedia.org/wiki/My_Neighbor_Totoro" target="_blank" class="card-link"><cite>Wikipedia</cite></a>)</p>
      </div>
      <div class="card-footer">
        <a href="https://www.themoviedb.org/movie/8392-tonari-no-totoro" target="_blank" class="card-link">The Movie DB</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="https://www.themoviedb.org/t/p/original/Aufa4YdZIv4AXpR9rznwVA5SEfd.jpg" alt="Kiki’s Delivery Service (1989)">
      <div class="card-block">
        <h4 class="card-title">Kiki’s Delivery Service <small class="text-muted">(1989)</small></h4>
        <p class="card-text">An adaptation of the 1985 novel of the same name by Eiko Kadono, the film tells the story of a young witch, Kiki, who moves to a new town and uses her flying ability to earn a living. (From <a href="https://en.wikipedia.org/wiki/Kiki%27s_Delivery_Service" target="_blank" class="card-link"><cite>Wikipedia</cite></a>)</p>
      </div>
      <div class="card-footer">
        <a href="https://www.themoviedb.org/movie/16859" target="_blank" class="card-link">The Movie DB</a>
      </div>
    </div>
  </div> -->

  <!-- ROW 3 -->
  <!-- <div class="card-deck">
    <div class="card">
      <img class="card-img-top img-fluid" src="https://www.themoviedb.org/t/p/original/byKAndF6KQSDpGxp1mTr23jPbYp.jpg" alt="Porco Rosso (1992)">
      <div class="card-block">
        <h4 class="card-title">Porco Rosso <small class="text-muted">(1992)</small></h4>
        <p class="card-text"><cite>Porco Rosso</cite> tells a story of an Italian World War I ex-fighter ace, now living as a freelance bounty hunter chasing "air pirates" in the Adriatic Sea. However, an unusual curse has transformed him into an anthropomorphic pig. Once called Marco Pagot, he is now known to the world as "Porco Rosso", Italian for "Red Pig." (From <a href="https://en.wikipedia.org/wiki/Porco_Rosso" target="_blank" class="card-link"><cite>Wikipedia</cite></a>)</p>
      </div>
      <div class="card-footer">
        <a href="https://www.themoviedb.org/movie/11621-kurenai-no-buta" target="_blank" class="card-link">The Movie DB</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="https://www.themoviedb.org/t/p/original/cMYCDADoLKLbB83g4WnJegaZimC.jpg" alt="Princess Mononoki (1997)">
      <div class="card-block">
        <h4 class="card-title">Princess Mononoki <small class="text-muted">(1997)</small></h4>
        <p class="card-text">Set in the late Muromachi period (approximately 1336 to 1573) of Japan with fantasy elements, the film tells the story of the young Emishi prince Ashitaka's involvement in a struggle between the gods of a forest and the humans who consume its resources. (From <a href="https://en.wikipedia.org/wiki/Princess_Mononoke" target="_blank" class="card-link"><cite>Wikipedia</cite></a>)</p>
      </div>
      <div class="card-footer">
        <a href="https://www.themoviedb.org/movie/128" target="_blank" class="card-link">The Movie DB</a>
      </div>
    </div>
  </div> -->

  <!-- ROW 4 -->
  <!-- <div class="card-deck">
    <div class="card">
      <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/original/oRvMaJOmapypFUcQqpgHMZA6qL9.jpg" alt="Spirited Away (2001)">
      <div class="card-block">
        <h4 class="card-title">Spirited Away <small class="text-muted">(2001)</small></h4>
        <p class="card-text"><cite>Spirited Away</cite> tells the story of Chihiro, a sullen ten-year-old girl who, while moving to a new neighborhood, enters the spirit world. After her parents are transformed into pigs by the witch Yubaba, Chihiro takes a job working in Yubaba's bathhouse to find a way to free herself and her parents and return to the human world. (From <a href="https://en.wikipedia.org/wiki/Spirited_Away" target="_blank" class="card-link"><cite>Wikipedia</cite></a>)</p>
      </div>
      <div class="card-footer">
        <a href="https://www.themoviedb.org/movie/129" target="_blank" class="card-link">The Movie DB</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="https://www.themoviedb.org/t/p/original/yeJ5Nj1k2NA0bBZjkZ10PvQKjTD.jpg" alt="Howl's Moving Castle (2004)">
      <div class="card-block">
        <h4 class="card-title">Howl’s Moving Castle <small class="text-muted">(2004)</small></h4>
        <p class="card-text">Based on the novel of the same name by Diana Wynne Jones, the film is set in a fictional kingdom where both magic and early 20th century technology are prevalent, against the backdrop of a war with another kingdom. The film tells the story of a young hatter named Sophie after she is turned into an old woman by a witch's curse. She encounters a wizard named Howl, and gets caught up in his resistance to fighting for the king. (From <a href="https://en.wikipedia.org/wiki/Howl%27s_Moving_Castle_(film)" target="_blank" class="card-link"><cite>Wikipedia</cite></a>)</p>
      </div>
      <div class="card-footer">
        <a href="https://www.themoviedb.org/movie/4935" target="_blank" class="card-link">The Movie DB</a>
      </div>
    </div>
  </div> -->

  <!-- ROW 5 -->
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top img-fluid" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/yp8vEZflGynlEylxEesbYasc06i.jpg" alt="Ponyo (2008)">
      <div class="card-block">
        <h4 class="card-title">Ponyo <small class="text-muted">(2008)</small></h4>
        <p class="card-text">Inspired by the Hans Christian Andersen story, <cite>The Little Mermaid</cite>, the film centers on a goldfish named Ponyo who befriends a five-year-old human boy, Sōsuke, and wants to become a human girl. (From <a href="https://en.wikipedia.org/wiki/Ponyo" target="_blank" class="card-link"><cite>Wikipedia</cite></a>)</p>
      </div>
      <div class="card-footer">
        <a href="https://www.themoviedb.org/movie/12429" target="_blank" class="card-link">The Movie DB</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/jfwSexzlIzaOgxP9A8bTA6t8YYb.jpg" alt="The Wind Rises (2013)">
      <div class="card-block">
        <h4 class="card-title">The Wind Rises <small class="text-muted">(2013)</small></h4>
        <p class="card-text"><cite>The Wind Rises</cite> is a fictionalized biopic of Jiro Horikoshi (1903–1982), designer of the Mitsubishi A5M fighter aircraft and its successor, the Mitsubishi A6M Zero, used by the Empire of Japan during World War II. The film is adapted from Miyazaki’s manga of the same name, which was in turn loosely based on the 1937 short story The Wind Has Risen by Tatsuo Hori. (From <a href=" https://en.wikipedia.org/wiki/The_Wind_Rises" target="_blank" class="card-link"><cite>Wikipedia</cite></a>)</p>
      </div>
      <div class="card-footer">
        <a href="https://www.themoviedb.org/movie/149870-kaze-tachinu" target="_blank" class="card-link">The Movie DB</a>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card" style="cursor:pointer;" onclick="location.href='/favorites';" id = "emptyCard">
      <img class="card-img-top img-fluid" src="path_to_placeholder_image.jpg" alt="空白卡片图片">
      <div class="card-block">
          <h4 class="card-title">点击搜索电影</h4>
          <p class="card-text">点击这里搜索您感兴趣的电影。</p>
      </div>
      <div class="card-footer">
          <a href="/favorites" class="card-link">搜索</a>
      </div>
  </div>
  <div class="card" style="cursor:pointer;" onclick="location.href='/favorites';">
    <img class="card-img-top img-fluid" src="path_to_placeholder_image.jpg" alt="空白卡片图片">
    <div class="card-block">
        <h4 class="card-title">点击搜索电影</h4>
        <p class="card-text">点击这里搜索您感兴趣的电影。</p>
    </div>
    <div class="card-footer">
        <a href="/favorites" class="card-link">搜索</a>
    </div>
</div>
  </div>
  




  <div class="row my-4">
    <div class="col-sm-12 text-center">
      <a href="https://en.wikipedia.org/wiki/Works_of_Hayao_Miyazaki" target="_blank" class="btn btn-info">More works of Hayao Miyazaki</a>
    </div>
  </div>
  <hr>
  <footer class="text-center">
    <p><i class="fa fa-code fa-1x" aria-hidden="true"></i> by <a href="https://codepen.io/rchoi01/" target="_blank" class="card-link">Rachel</a></p>
  </footer>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var selectedMovieId = localStorage.getItem('selectedMovieId');
        if (selectedMovieId) {
            updateMovieCard(selectedMovieId);
            localStorage.removeItem('selectedMovieId'); // 清除localStorage中的数据
        }
    });
    
    function updateMovieCard(movieId) {
        // 发送请求获取电影详细信息
        fetch('/movie/' + movieId)
        .then(response => response.json())
        .then(movie => {
            if (movie) {
                var card = document.getElementById('emptyCard'); // 确保你的空白卡片有这个ID
                card.innerHTML = `
                    <img class="card-img-top img-fluid" src="${movie.imageUrl}" alt="${movie.title}">
                    <div class="card-block">
                        <h4 class="card-title">${movie.title}</h4>
                        <p class="card-text">${movie.description}</p>
                    </div>
                `;
            }
        })
        .catch(error => console.error('Error:', error));
    }
    </script>
    
</body>
</html>
